 <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Summary</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" href="/fonts/line-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    
    <!-- Animate -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" href="/css/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <span>Summary</span>     
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  _________
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  _________
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">
                  _________
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">
                  _________
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonial">
                  _________
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  _________
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->

    <!-- Services Section Start -->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Summary</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Sql</a></h3>
                <p>mysql database</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="lni-stats-up"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Nosql</a></h3>
                <p> mongoDB database</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="lni-users"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Relations</a></h3>
                <p>Database relationship</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lni-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Type</a></h3>
                <p>typeScript</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
              <div class="icon">
                <i class="lni-mobile"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">API'S</a></h3>
                <p>Two resful api's</p>
              </div>
            </div>
          </div>
          
    <!-- Services item -->
    <div class="col-md-6 col-lg-4 col-xs-12">
      <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
        <div class="icon">
          <i class="lni-mobile"></i>
        </div>
        <div class="services-content">
          <h3><a href="#">Handling requests</a></h3>
          <p>Postman</p>
        </div>
      </div>
    </div>
    <!-- Services item -->
    <div class="col-md-6 col-lg-4 col-xs-12">
      <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
        <div class="icon">
          <i class="lni-mobile"></i>
        </div>
        <div class="services-content">
          <h3><a href="#">Middleware</a></h3>
          <p>fetch the protocol and the domane name and ip adress</p>
        </div>
      </div>
    </div>
    <!-- Services item -->
    <div class="col-md-6 col-lg-4 col-xs-12">
      <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
        <div class="icon">
          <i class="lni-mobile"></i>
        </div>
        <div class="services-content">
          <h3><a href="#">Securety</a></h3>
          <p>-Authentication [local strategy]</p>
          <p>-Guard</p>
        </div>
      </div>
    </div>
      <!-- Services item -->
    <div class="col-md-6 col-lg-4 col-xs-12">
      <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
        <div class="icon">
          <i class="lni-mobile"></i>
        </div>
        <div class="services-content">
          <h3><a href="#">Securety</a></h3>
          <p>-Authentication [local strategy]</p>
          <p>-Guard</p>
        </div>
      </div>
    </div>
      <!-- Services item -->
    <div class="col-md-6 col-lg-4 col-xs-12">
      <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
        <div class="icon">
          <i class="lni-mobile"></i>
        </div>
        <div class="services-content">
          <h3><a href="#">Securety</a></h3>
          <p>-Authentication [local strategy]</p>
          <p>-Guard</p>
        </div>
      </div>
    </div>
      <!-- Services item -->
    <div class="col-md-6 col-lg-4 col-xs-12">
      <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
        <div class="icon">
          <i class="lni-mobile"></i>
        </div>
        <div class="services-content">
          <h3><a href="#">Securety</a></h3>
          <p>-Authentication [local strategy]</p>
          <p>-Guard</p>
        </div>
      </div>
    </div>
      <!-- Services item -->
    <div class="col-md-6 col-lg-4 col-xs-12">
      <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
        <div class="icon">
          <i class="lni-mobile"></i>
        </div>
        <div class="services-content">
          <h3><a href="#">Securety</a></h3>
          <p>-Authentication [local strategy]</p>
          <p>-Guard</p>
        </div>
      </div>
    </div>
     <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Framework</a></h3>
                <p>Nestjs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    <!-- Services Section End -->

      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2021 <a rel="nofollow" href="#">_________</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </footer> 
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>
    
    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-min.js"></script> 
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/scrolling-nav.js"></script>
    <script src="/js/jquery.easing.min.js"></script>  
    <script src="/js/main.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.min.js"></script>
      
  </body>
</html>
